databases==0.6.2
fastapi==0.88.0
keras==2.11.0
numpy==1.23.2
opencv_python==4.6.0.66
pandas==1.5.2
pydantic==1.10.2
python-dotenv==0.21.0
scikit_learn==1.2.0
SQLAlchemy==1.4.41
SQLAlchemy_Utils==0.38.3
